.login-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.login-view-container h1 {
  color: #555;
  margin-bottom: 20px;
}

.login-logo {
  width: 600px;
  margin-bottom: 50px;
}
